.how-it-works1-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 429px;
}
.how-it-works1-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    padding: 32px;
    border-radius: 16px;
    background-color: #D2F1E1;
}
.how-it-works1-card{
    width: 256px;
    height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}
.how-it-works1-card-title{
    font-family: var(--roboto);
    font-weight: var(--weight-text--sub-title);
    font-size: 20px;
    line-height: 24.22px;
    color: #101130;
}
.how-it-works1-card-text{
    font-family: var(--roboto);
    size: 18px;
    line-height: 30px;
}
.how-it-works1-card-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px;
    /* align-items: center; */
}
.how-it-works1-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}
.how-it-works1{
    width: 100%;
    max-width: 1171px;
    display: flex;
    justify-content: space-between;
}
.how-it-works1-text-h2{
    width: 100%;
    max-width: 431px;
    font-weight: var(--weight-text-title);
    font-family: var(--inter);
    font-size: 36px;
    line-height: 56px;
    color: #101130;
}
.how-it-works1-position-content-img{
    position: relative;
    display: flex;
}
.how-it-works1-position-content-img-g{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1{
    position: absolute;
    left: -90px;
}
.img-2{
    position: absolute;
    left: -60px;
}

.img-3{
    position: absolute;
    left: -30px;
}
.img-4{
    position: absolute;
    left: 0px;
}
.img-5{
    position: absolute;
    left: 30px;
    color: #fff;
   height: 45px;
   width: 45px;
   background-color: var(--color-secondary);
   border-radius: 50%;
}
.how-it-works1-position{
    position: absolute;
    bottom: -80px;
    left: 300px;
    width: 60px;
    height: 60px;
    background-color: #FAE9D9;
    z-index: 200000;
    border-radius: 50%;
}
.how-it-works1-position-content{
    z-index: 1;
    position: absolute;
    padding: 40px;
    bottom: 30px;
    right: 30px;
    background-color: var(--color-background);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 110px;
}
@media (max-width: 600px) {
    .how-it-works1-text-h2{
        margin-top: 100px;
        text-align: center;
    }
    .how-it-works1{
        flex-direction: column;
    }
    .how-it-works1-img{
        width: 100%;
    }
    .how-it-works1-text{

        margin-top:900px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }
    .how-it-works1-text:nth-of-type(1),
    .how-it-works1-text:nth-of-type(2) { 
        all:unset;
        /* background-color: #101130; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0; 
    }
    .how-it-works1-card-section{
        all:unset;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap:30px;
        /* align-items: center; */
    }
    .how-it-works1-card{
        width: 170px;
        height: 222px;
        margin-top:100px
    }
}
